@using Thinktecture.IdentityServer.Web.Utility

@{
    var isTheFirst = true;
    foreach(var prop in this.ViewData.ModelMetadata.Properties)
    {
        if (!prop.IsReadOnly)
        {
            var id = ViewData.TemplateInfo.GetFullHtmlFieldId(prop.PropertyName);
            var name = ViewData.TemplateInfo.GetFullHtmlFieldName(prop.PropertyName);
            <div>
                @Html.Label(prop.PropertyName)
                @*<label for="@id">@prop.GetDisplayName()</label>*@
                @Html.Editor(prop.PropertyName)
                @if(isTheFirst)
                {
                    <script>document.getElementById('@id').focus();</script>
                }
                @Html.Validator(prop)
            </div>
        }
        isTheFirst = false;
    }
}