@model Thinktecture.IdentityServer.Web.ViewModels.Administration.EditDelegationModel

@{
    ViewBag.Title = "Edit";
}

<h2>
    Edit Delegation Settings for @Model.UserName
    <a href="@Url.Content("~/docs/identityDelegation.html")" target="_blank">(help)</a>
</h2>

<p>
    @Html.ActionLink("Add New", "Add")
</p>

<ul>
    @foreach (var setting in Model.Settings)
    { 
        <li>
            <b>@setting.Description</b>
            <br />
            @setting.Realm.AbsoluteUri
            @Html.ActionLink("(delete)", "delete", new { userName = Model.UserName, realm = setting.Realm.AbsoluteUri })
            <br />
            <br />
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Back", "Index")
</p>
