@using Thinktecture.IdentityServer.Web.App_LocalResources.HRD
@model Thinktecture.IdentityServer.Protocols.WSFederation.HrdViewModel

@{
    ViewBag.Title = HRD_Mobile_cshtml.HRD;
    ViewBag.HideMenu = true;
}

<div data-role="page" id="signin">
    <div data-role="header">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div data-role="content">
        <h2>@HRD_Mobile_cshtml.ChooseIdentityProvider</h2>
        @if (Model.Providers.Any())
        {
            using (Html.BeginForm("Select", "HRD", FormMethod.Post, new { data_ajax="false" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.OriginalSigninUrl)
                <ul class="hrd">
                    @foreach (var provider in Model.Providers)
                    {
                        <li>
                            <button type="submit" name="idp" value="@provider.ID">@provider.DisplayName</button>
                        </li>
                    }
                </ul>
            }
        }
        else
        {
            <p>@HRD_Mobile_cshtml.NoIdentityProviders</p>
        }

    </div>
</div>



