@model ClientCertificatesForUserViewModel
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.ClientCertificate
@using Thinktecture.IdentityServer.Web.Utility
@{
    if (Model.IsNew)
    {
        ViewBag.Title = Configure_cshtml.NewClientCertificates;
    }
    else
    {
        ViewBag.Title = string.Format(Configure_cshtml.ClientCertificatesForUser, Model.UserName);
    }
}


@Html.ValidationSummary(Configure_cshtml.ErrorWithClientCertificates)

<fieldset class="editor">
    <legend>@ViewBag.Title</legend>
    
    @using (Html.BeginForm("Add", "ClientCertificate", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        if (Model.IsNew)
        {
            <div>
                @Html.LabelFor(x => Model.NewCertificate.UserName)
                @Html.DropDownListFor(x => Model.NewCertificate.UserName, Model.AllUserNames)
                @Html.ValidatorFor(x => Model.NewCertificate.UserName)
            </div>
        }
        else
        {
            <div>
                @Html.HiddenFor(x => Model.NewCertificate.UserName)
                @Html.LabelFor(x => Model.NewCertificate.UserName)
                @Html.DisplayFor(x => Model.NewCertificate.UserName)
            </div>
        }
        
        <div>
            @Html.LabelFor(x => Model.NewCertificate.Description)
            @Html.EditorFor(x => Model.NewCertificate.Description)
            @Html.ValidatorFor(x=>Model.NewCertificate.Description)
        </div>
        <div>
            @Html.LabelFor(x => Model.NewCertificate.Thumbprint)
            @Html.EditorFor(x => Model.NewCertificate.Thumbprint)
            @Html.ValidatorFor(x=>Model.NewCertificate.Thumbprint)
        </div>
        
        <div class="buttons">
            <button type="submit">@Configure_cshtml.AddCertificate</button>
            <button type="reset">@Configure_cshtml.Cancel</button>
        </div>
    }
    <hr />

    @foreach (var model in Model.Certificates)
    {
        using (Html.BeginForm("Remove", "ClientCertificate"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => model.UserName)
            <div class="edit-prop">
                @Html.LabelFor(x => model.Description)
                @Html.DisplayFor(x => model.Description)
                @Html.HiddenFor(x => model.Description)
            </div>
            <div class="edit-prop">
                @Html.LabelFor(x => model.Thumbprint)
                @Html.DisplayFor(x => model.Thumbprint)
                @Html.HiddenFor(x => model.Thumbprint)
            </div>
            <div class="buttons">
                <button type="submit">@Configure_cshtml.DeleteCertificate</button>
            </div>            
        }
    }

</fieldset>
