

<h1>Configuration</h1>
<ul>
    <li>@Html.ActionLink("General Configuration", "Index", "General")</li>
    <li>@Html.ActionLink("Key Configuration", "Index", "KeyConfiguration")</li>
    <li>@Html.ActionLink("Diagnostics", "Index", "Diagnostics")</li>
    <li>
        @Html.ActionLink("Protocols", "Index", "Protocol")
        @Html.Action("ChildMenu", "Menu", new{controllerName="Protocol"})
    </li>
    <li>
        @Html.ActionLink("Relying Parties", "Index", "RP")
        @Html.Action("ChildMenu", "Menu", new{controllerName="RP"})
    </li>
    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    <li>@Html.ActionLink("Client Certificates", "Index", "ClientCertificate")</li>
    <li>@Html.ActionLink("Delegation", "Index", "Delegation")</li>
</ul>
