@model MenuViewModel

<h1>Configuration</h1>
<ul>
    <li>@Html.ActionLink("General Configuration", "Index", "General")</li>
    <li>@Html.ActionLink("Key Configuration", "Index", "KeyConfiguration")</li>
    <li>
        @Html.ActionLink("Protocols", "Index", "Protocol")
        @Html.Action("ChildMenu", "Menu", new{controllerName="Protocol"})
    </li>
    <li>@Html.ActionLink("Diagnostics", "Index", "Diagnostics")</li>
</ul>
<ul>
    <li>
        @Html.ActionLink("Relying Parties & Resources", "Index", "RP")
        @Html.Action("ChildMenu", "Menu", new{controllerName="RP"})
    </li>
    <li>
        @Html.ActionLink("Identity Providers", "Index", "IP")
        @Html.Action("ChildMenu", "Menu", new{controllerName="IP"})
    </li>
    @if(Model.ShowOAuthClients)
    {
        <li>
            @Html.ActionLink("OAuth Clients", "Index", "OAuthClient")
            @Html.Action("ChildMenu", "Menu", new{controllerName="OAuthClient"})
        </li>
    }
</ul>
<ul>
    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    <li>@Html.ActionLink("Client Certificates", "Index", "ClientCertificate")</li>
    <li>@Html.ActionLink("Identity Delegation", "Index", "Delegation")</li>
</ul>
