
<nav class="config-menu">
    <h1>Configuration</h1>
    <ul>
        <li>@Html.ActionLink("General Configuration", "General")</li>
        <li>
            @Html.ActionLink("Protocols", "Protocols")
            @Html.Action("Protocols_Navigation")
        </li>
        <li>
            @Html.ActionLink("Relying Parties", "RPs")
            @Html.Action("RPs_Navigation")
        </li>
    </ul>
</nav>