@model OAuthClientViewModel

@{
    if (Model.IsNew)
    {
        ViewBag.Title = "New OAuth Client";
    }
    else
    {
        ViewBag.Title = "OAuth Client : " + Model.IsNew;
    }
}
@{
    var action = Model.IsNew ? "Create" : "Update";
}
@using (Html.BeginForm(action, "OAuthClient"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("Error updating client")
    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>

        @Html.EditorFor(x=>x.Client)

        <div class="buttons">
            @if (!Model.IsNew)
            {
                <button type="submit" name="action" value="save">Save Changes</button>
                <button type="submit" name="action" value="delete">Delete</button>
            }
            else
            {
                <button type="submit" name="action" value="create">Create</button>
            }
            <button type="reset">Cancel</button>
        </div>

        @if (Model.IsOAuthRefreshTokenEnabled)
        {
            <nav class="links">
                <ul>
                    <li>@Html.ActionLink("tokens", "Index", "OAuthRefreshToken", new { ClientID=Model.Client.ID }, null)</li>
                </ul>
            </nav>
        }
    </fieldset>
}
