@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.OAuthClient
@model Thinktecture.IdentityServer.Models.Client

@{
    if (Model.ID == 0)
    {
        ViewBag.Title = Edit_cshtml.NewOAuthClient;
    }
    else
    {
        ViewBag.Title = string.Format(Edit_cshtml.OAuthClient, Model.Name);
    }
}
@{
    var action = Model.Name == null ? "Create" : "Update";
}
@using (Html.BeginForm(action, "OAuthClient"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Edit_cshtml.ErrorUpdatingClient)
    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            @if (Model.ID != 0)
            {
                <button type="submit" name="action" value="save">@Edit_cshtml.SaveChanges</button>
                <button type="submit" name="action" value="delete">@Edit_cshtml.Delete</button>
            }
            else
            {
                <button type="submit" name="action" value="create">@Edit_cshtml.Create</button>
            }
            <button type="reset">@Edit_cshtml.Cancel</button>
        </div>
    </fieldset>
}
