@model OAuthClientIndexViewModel
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.OAuthClient

@{
    ViewBag.Title = Index_cshtml.OAuthClients;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Index_cshtml.ErrorDeletingClients)

    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>
        @{
            var list = Model.Clients;
        }
        @for (int i = 0; i < list.Length; i++)
        {
            <div>
                @Html.HiddenFor(x=>list[i].ID)
                @Html.LabelFor(x => list[i].Delete, list[i].Name)
                @Html.CheckBoxFor(x => list[i].Delete)
            </div>
        }

        <div class="buttons">
            <button type="submit" name="action" value="delete">@Index_cshtml.DeleteSelected</button>
            <button type="submit" name="action" value="new">@Index_cshtml.New</button>
            <button type="reset">@Index_cshtml.Cancel</button>
        </div>

    </fieldset>
}

