@model Thinktecture.IdentityServer.Web.ViewModels.SignInModel

@{
    ViewBag.Title = "Username / Password Sign In";
    if (Model.IsSigninRequest)
    {
        ViewBag.HideMenu = true;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <h2>
        You are currenty logged in as @User.Identity.Name, but you requested a resource
        that you were not authorized for. Either provide credentials that do have access
        or contact your administrator to grant you access.
    </h2>
}

@using (Html.BeginForm())
{
@Html.ValidationSummary(true, "Sign In was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Login</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field-slim">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field-slim">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
                
        <div class="editor-label">
            @Html.CheckBoxFor(m => m.EnableSSO)
            @Html.LabelFor(m => m.EnableSSO)
        </div>
                
        <p>
            <input type="submit" value="Sign In" />
        </p>
    </fieldset>
        
    if (Model.ShowClientCertificateLink)
    { 
        @Html.ActionLink("Use client certificate", "CertificateSignIn", new { returnUrl = Model.ReturnUrl }) 
    }
}

@section scripts
{
@if (false)
{
    <script src="../../Scripts/jquery-1.6.4.js" type="text/javascript" />
} 

<script type="text/javascript">
    $(function () {
        $("#UserName").focus();
    });
</script>
}