@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@model Thinktecture.IdentityServer.Web.ViewModels.SignInModel

@{
    ViewBag.Title = ViewBag.SiteName + " : " + SignIn_Mobile_cshtml.SignIn;
    if (Model.IsSigninRequest)
    {
        ViewBag.HideMenu = true;
    }
}

<div data-role="page" id="signin">
    <div data-role="header">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div data-role="content">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Signin", "Account", FormMethod.Post, new { data_ajax="false" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, SignIn_Mobile_cshtml.SignInWasUnsuccessful)
            @Html.HiddenFor(x=>x.ReturnUrl)
            <fieldset>
                <div data-role="fieldcontain">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </div>
                <div data-role="fieldcontain">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div data-role="fieldcontain">
                    @Html.CheckBoxFor(m => m.EnableSSO)
                    @Html.LabelFor(m => m.EnableSSO)
                </div>
                <div>
                    <button type="submit">@SignIn_Mobile_cshtml.SignIn</button>
                </div>
            </fieldset>
        }
    </div>
</div>
