<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Scripts.Render("~/bundles/js/modernizr")
    @Styles.Render("~/bundles/css/site")
    @RenderSection("styles", false)
</head>

<body>

    <div class="masterHeader">
        <img src="@Url.Content("~/Content/images/logo.jpg")" alt="Logo" />
        <h2 class="masterHeaderText">@ViewBag.SiteName</h2>
    </div>
    
    @RenderSection("menu", false)

    <section id="main-section">
        @RenderBody()
    </section>

    @Scripts.Render("~/bundles/js/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
