<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="masterHeader">
        <br />
        <img src="@Url.Content("~/Content/images/logo.jpg")" alt="Logo" />

        <h2 class="masterHeaderText">@ViewBag.SiteName</h2>
    </div>

    <div class="menu">
        @if (ViewBag.IsAdministrator)
        {
            @Html.ActionLink("[administration]", "index", "admin")
            @: &nbsp;
            <a href="http://wiki.thinktecture.com/IdentityServer.MainPage.ashx" target="_blank">[docs]</a>
            @: &nbsp;
        }
        
        @if (ViewBag.IsSignedIn)
        { 
            @Html.ActionLink("[home]", "index", "home")
            @: &nbsp;
            @Html.ActionLink("[sign out]", "signout", "account")
            @: &nbsp;
            @:(signed in as @Context.User.Identity.Name)
        }
        else
        {
            @Html.ActionLink("[home]", "index", "home")
            @: &nbsp;
            @Html.ActionLink("[sign in]", "signin", "account")
        }
    </div>
        
    <br />

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
