@{
    Layout = "_BrandingLayout.cshtml";
    ViewBag.SetContainerID = false;
}

@section menu
{
<div class="menu">
    @if (ViewBag.IsAdministrator)
    {
        @Html.ActionLink("[administration]", "index", "home", new{area="Admin"}, null)
        @: &nbsp;
    }
        
    @if (ViewBag.IsSignedIn)
    { 
        @Html.ActionLink("[home]", "index", "home", new{area=""}, null)
        @: &nbsp;
        @Html.ActionLink("[sign out]", "signout", "account", new{area=""}, null)
        @: &nbsp;
        @:(signed in as @Context.User.Identity.Name)
    }
    else
    {
        @Html.ActionLink("[home]", "index", "home", new{area=""}, null)
        @: &nbsp;
        @Html.ActionLink("[sign in]", "signin", "account", new{area=""}, null)
    }
</div>
}

@section styles
{
    @RenderSection("styles", false)
}

@section scripts
{
    @RenderSection("scripts", required: false)
}

@RenderBody()
