@using Thinktecture.IdentityServer.Web.App_LocalResources.OAuth2Authorize
@model Thinktecture.IdentityServer.Protocols.OAuth2.OAuth2ConsentViewModel

@{
    ViewBag.Title = ShowConsent_cshtml.ResourceConsent;
    ViewBag.HideMenu = true;
}

<h2>@ShowConsent_cshtml.ResourceConsent</h2>

<dl>
    <dt><b>@Model.ClientName</b>
    @ShowConsent_cshtml.RequestingAccessOnBehalf</dt>
    <dd><b>@ShowConsent_cshtml.ResourceName</b> @Model.ResourceName</dd>
    <dd><b>@ShowConsent_cshtml.ResourceId</b> @Model.ResourceUri</dd>
</dl>

@if (Model.RefreshTokenEnabled)
{
    <p><b>@ShowConsent_cshtml.RefreshTokenEnabledWarning</b></p> 
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button name="button" value="yes">@ShowConsent_cshtml.AllowAccess</button>
    <button name="button" value="no">@ShowConsent_cshtml.DenyAccess</button>
}