@model Thinktecture.IdentityServer.Protocols.OAuth2.OAuth2ConsentViewModel

@{
    ViewBag.Title = "Resource Consent";
    ViewBag.HideMenu = true;
}

<div data-role="page" id="signin">
    <div data-role="header">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div data-role="content">
        <h2>Resource Consent</h2>
        <dl>
            <dt><b>@Model.ClientName</b>
                is requesting permission to access a resource on your behalf:</dt>
            <dd><b>Resource Name:</b> @Model.ResourceName</dd>
            <dd><b>Resource ID:</b> @Model.ResourceUri</dd>
        </dl>

        @if (Model.RefreshTokenEnabled)
        {
            <p><b>The client will be able to access the resource, even when you are offline.</b></p> 
        }   

        @{
            RouteValueDictionary qsParams = new RouteValueDictionary();
            foreach(var key in Request.QueryString.AllKeys)
            {
                qsParams.Add(key, Request.QueryString[key]);
            }
            var url = Url.Action("Index", "OAuth2Authorize", qsParams);
            var attrs = new RouteValueDictionary();
            attrs.Add("data-ajax", "false");
        }
        @using (Html.BeginForm("Index", "OAuth2Authorize", qsParams, FormMethod.Post, attrs))
        {
            @Html.AntiForgeryToken()
            <button name="button" value="yes">Allow Access</button>
            <button name="button" value="no">No Thanks</button>
        }
    </div>
</div>



