@using Thinktecture.IdentityServer.Web.App_LocalResources.OAuth2Authorize
@model Thinktecture.IdentityServer.Protocols.OAuth2.OAuth2ConsentViewModel

@{
    ViewBag.Title = ShowConsent_Mobile_cshtml.ResourceConsent;
    ViewBag.HideMenu = true;
}

<div data-role="page" id="signin">
    <div data-role="header">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div data-role="content">
        <h2>@ShowConsent_Mobile_cshtml.ResourceConsent</h2>
        <dl>
            <dt><b>@Model.ClientName</b>
                @ShowConsent_Mobile_cshtml.RequestingAccessOnBehalf</dt>
            <dd><b>@ShowConsent_Mobile_cshtml.ResourceName</b> @Model.ResourceName</dd>
            <dd><b>@ShowConsent_Mobile_cshtml.ResourceId</b> @Model.ResourceUri</dd>
        </dl>

        @if (Model.RefreshTokenEnabled)
        {
            <p><b>@ShowConsent_Mobile_cshtml.RefreshTokenEnabledWarning</b></p> 
        }   

        @{
            RouteValueDictionary qsParams = new RouteValueDictionary();
            foreach(var key in Request.QueryString.AllKeys)
            {
                qsParams.Add(key, Request.QueryString[key]);
            }
            var url = Url.Action("Index", "OAuth2Authorize", qsParams);
            var attrs = new RouteValueDictionary();
            attrs.Add("data-ajax", "false");
        }
        @using (Html.BeginForm("Index", "OAuth2Authorize", qsParams, FormMethod.Post, attrs))
        {
            @Html.AntiForgeryToken()
            <button name="button" value="yes">@ShowConsent_Mobile_cshtml.AllowAccess</button>
            <button name="button" value="no">@ShowConsent_Mobile_cshtml.DenyAccess</button>
        }
    </div>
</div>



