@model Thinktecture.IdentityServer.Web.Areas.Admin.ViewModels.UserPasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
        @Html.ValidationSummary("Errors updating profile:")
        @Html.AntiForgeryToken()

        <fieldset class="editor small">
                    <label for="@Model.Username">@Model.Username</label>
                    @Html.HiddenFor(m => m.Username)
            <br />
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
                    
            <div class="buttons">
                <button>Save</button>
            </div>
        </fieldset>
}