@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.User
@model UsersViewModel

@{
    ViewBag.Title = Index_cshtml.Users;
}
<fieldset class="editor">
    <legend>@ViewBag.Title (Total: @Model.Total)</legend>
    <div class="nestedForm">
        @using (Html.BeginForm("Index", "User", null, FormMethod.Get, null))
        {
            <label>Filter</label>
            <input type="text" name="filter" value="@Model.Filter" autofocus />
            <button>Go</button>
        }
    </div>
    <div>
        @if(Model.CurrentPage > 1)
        {
            @Html.ActionLink("Prev", "Index", new{page=Model.CurrentPage-1, filter=Model.Filter})
        }
        Page @Model.CurrentPage of @Model.TotalPages
        @if(Model.CurrentPage < Model.TotalPages)
        {
            @Html.ActionLink("Next", "Index", new{page=Model.CurrentPage+1, filter=Model.Filter})
        }
    </div>
    @using (Html.BeginForm("Index", "User", new { filter=@Model.Filter }, FormMethod.Post, null))
    {
        <input type="hidden" name="page" value="@Model.CurrentPage" />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(Index_cshtml.ErrorDeletingUsers)

        var list = Model.UsersDeleteList;
        for (int i = 0; i < list.Length; i++)
        {
            <div>
                @Html.HiddenFor(x => list[i].Username)
                @Html.LabelFor(x => list[i].Delete, list[i].Username)
                @Html.CheckBoxFor(x => list[i].Delete)
                @Html.ActionLink(Index_cshtml.Roles, "Roles", new { username = list[i].Username })
                @Html.ActionLink("password", "ChangePassword", new { username = list[i].Username })
                @if (Model.IsProfileEnabled)
                {
                    @Html.ActionLink(Index_cshtml.Profile, "Profile", new { username = list[i].Username })
                }
                @if (Model.IsOAuthRefreshTokenEnabled)
                {
                    @Html.ActionLink("tokens", "Index", "OAuthRefreshToken", new { username = list[i].Username }, null)
                }
            </div>
        }
        <div class="buttons">
            <button type="submit" name="action" value="delete">@Index_cshtml.DeleteSelected</button>
            <button type="submit" name="action" value="new">@Index_cshtml.New</button>
            <button type="reset">@Index_cshtml.Cancel</button>
        </div>
    }
</fieldset>