@model UsersViewModel

@{
    ViewBag.Title = "Users";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("Error deleting users")

    <fieldset class="editor">
        <legend>Users</legend>
        @{
            var list = Model.UsersDeleteList;
        }
        @for (int i = 0; i < list.Length; i++)
        {
            <div>
                @Html.HiddenFor(x => list[i].Username)
                @Html.LabelFor(x => list[i].Delete, list[i].Username)
                @Html.CheckBoxFor(x => list[i].Delete)
                @Html.ActionLink("roles", "Roles", new{id=list[i].Username})
            </div>
        }
        <div class="buttons">
            <button type="submit" name="action" value="delete">Delete Selected</button>
            <button type="submit" name="action" value="new">New</button>
            <button type="reset">Cancel</button>
        </div>
    </fieldset>
}