@model UserProfileViewModel
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.User
@using Thinktecture.IdentityServer.Web.Utility

@{
    ViewBag.Title = string.Format(Profile_cshtml.Profile, Model.Username);
}

<h1>@ViewBag.Title</h1>
@if (Model.ProfileValues == null || Model.ProfileValues.Length == 0)
{
    <p>@Profile_cshtml.NoProfilePropertiesAvailable</p>
}
else
{
    using(Html.BeginForm())
    {
        @Html.ValidationSummary(Profile_cshtml.ErrorsUpdatingProfile)
        @Html.AntiForgeryToken()

        <fieldset class="editor small">
            @for (int i = 0; i < Model.ProfileValues.Length; i++)
            {
                var prop = Model.ProfileValues[i].Data;
                <div>
                    <label for="@prop.Name">@prop.Name</label>
                    <input type="hidden" name="profileValues[@i].name" value="@prop.Name" />
                    @if (Model.ProfileValues[i].Type == ProfilePropertyViewModel.ProfilePropertyType.Boolean)
                    {
                        var isChecked = Convert.ToBoolean(prop.Value);
                        <input type="checkbox" id="@prop.Name" checked="@isChecked" name="profileValues[@i].value" value="true" />
                        <input hidden type="checkbox" id="@prop.Name" checked name="profileValues[@i].value" value="false" />
                    }
                    else
                    {
                        <input id="@prop.Name" name="profileValues[@i].value" value="@prop.Value" />
                    }
                    @Html.Validator("profileValues["+i+"].value", Model.ProfileValues[i].Description)
                </div>
            }
            <div class="buttons">
                <button>@Profile_cshtml.Save</button>
            </div>
        </fieldset>
    }
}