@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.User
@model UserRolesViewModel
@{
    ViewBag.Title = string.Format(Roles_cshtml.RolesForUser, Model.Username);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Roles_cshtml.ErrorUpdatingRoleAssignments)

    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>
        @for (int i = 0; i < Model.RoleAssignments.Length; i++)
        {
            <div>
                @Html.HiddenFor(x => Model.RoleAssignments[i].Role)
                @Html.LabelFor(x => Model.RoleAssignments[i].InRole, Model.RoleAssignments[i].Role)
                @Html.CheckBoxFor(x => Model.RoleAssignments[i].InRole)
            </div>
        }
        <div class="buttons">
            <button type="submit">@Roles_cshtml.Update</button>
            <button type="reset">@Roles_cshtml.Cancel</button>
        </div>
    </fieldset>
}