@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.RP
@model Thinktecture.IdentityServer.Models.RelyingParty

@{
    if (Model.Id == null)
    {
        ViewBag.Title = RP_cshtml.NewRelyingParty;
    }
    else
    {
        ViewBag.Title = string.Format(RP_cshtml.RelyingParty, Model.Name);
    }
}
@using (Html.BeginForm("RP", "RP", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(RP_cshtml.ErrorUpdatingRelyingParty)
    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            @if (Model.Id != null)
            {
                <button type="submit" name="action" value="save">@RP_cshtml.SaveChanges</button>
                <button type="submit" name="action" value="delete">@RP_cshtml.Delete</button>
            }
            else
            {
                <button type="submit" name="action" value="create">@RP_cshtml.Create</button>
            }
            <button type="reset">@RP_cshtml.Cancel</button>
        </div>
    </fieldset>
}
